@use "variables" as *;

@include tablet {

    .bloque {
        grid-template-columns: 1fr 1fr;
        gap: 24px;
    }

    .bloque-img {
        height: 420px;
    }

}

@include mobile {

    .bloque {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .bloque-img {
        height: auto;
    }

}

/* SABORES - TABLET */
@media (min-width: 500px) and (max-width: 960px) {
    .gustocontainer {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }

    .bloque-img {
        width: 100%;
        height: 380px;
        border-radius: 18px;
    }
}

/* SABORES - MOBILE */
@media (max-width: 479px) {
    .gustocontainer {
        grid-template-columns: 1fr;
        padding: 0 16px;
    }
}

/* COMPRA - TABLET */
@media (min-width: 500px) and (max-width: 960px) {
    .productos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

    .producto {
        max-width: 100%;

        &-img {
            height: 260px;
        }
    }
}

/* COMPRA - MOBILE */
@media (max-width: 479px) {
    .productos {
        display: grid;
        grid-template-columns: 1fr;
        gap: 18px;
    }

    .producto-img {
        height: 240px;
    }

    .producto-btn {
        width: 100%;
    }
}

/* HISTORIA - TABLET */
@media (min-width: 500px) and (max-width: 960px) {
    .fundador {
        grid-template-columns: 1fr;
        justify-items: center;

        &-img img,
        &-img-der img {
            width: 90%;
            max-width: 400px;
        }

        &-texto {
            text-align: center;
        }
    }
}

/* HISTORIA - MOBILE */
@media (max-width: 479px) {
    .fundador {
        grid-template-columns: 1fr;
        gap: 16px;

        &-img img,
        &-img-der img {
            width: 90%;
            max-width: 350px;
            height: auto;
        }

        &-texto {
            text-align: left;
        }
    }
}

/* SUCURSALES - TABLET */
@media (min-width: 500px) and (max-width: 960px) {
    .sucursales-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 20px;
    }
}

/* SUCURSALES - MOBILE */
@media (max-width: 479px) {
    .sucursales-container {
        grid-template-columns: 1fr;
        padding: 0 16px;
    }
}